<link href="~/css/blog.css" rel="stylesheet" />

<div class="blog-header">
    <h1 class="blog-title">PAB News</h1>
    <p class="lead blog-description">A source of questionable facts and biased opinions</p>
</div>

<div class="row">
    <div class="col-sm-8 blog-main">
        <div class="blog-post">
            <h2 class="blog-post-title">Your 2016 Winner....</h2>
            <p class="blog-post-meta">February 26, 2017</p>
            <img class="img-responsive img-rounded" style="height: 500px" src="~/imgs/LeaguePhotos/IMG-20161126-WA0004.jpg" alt="Rabbi Tom" />
            <p>It was a big year for Tom Bradys across the board. Our own commish was able to beat Jason who was unaware he was in the finals.
            </p>        
        </div>
    </div>


</div>