<div class="blog-header">
    <h1 class="blog-title">PAB News</h1>
    <p class="lead blog-description">A source of questionable facts and biased opinions</p>
</div>

<div class="row">
    <div class="col-sm-8 blog-main">
        <div class="blog-post">
            <h2 class="blog-post-title">Lions Free Agency</h2>
            <p class="blog-post-meta">March 24, 2017</p>
            <img class="img-responsive img-rounded" style="height: 500px" src="~/imgs/rickyWagner.png" alt="ricky" />
            <p>After getting rid of Riley 'I'm hot garbage' Reiff, the Lions bolstered their RT position with Rick 'Ricky' Wagner who is one of the premier free agents
			on the market. We are still trying to understand why he came here but in a private interview, he mentioned 'Ray's Lips'. When asked further, he provided no
			further context on the quote or who this mysterious 'Ray' is but this isn't the first mention of a mysterious person Ray and Lions players. Matt Stafford
			has been quoted numerous times about a pregame ritual involving this mystery man.
            </p>        
        </div>
    </div>
	
    <div class="col-sm-8 blog-main">
        <div class="blog-post">
            <h2 class="blog-post-title">Your 2016 Winner....</h2>
            <p class="blog-post-meta">February 26, 2017</p>
            <img class="img-responsive img-rounded" style="height: 500px" src="~/imgs/LeaguePhotos/IMG-20161126-WA0004.jpg" alt="Rabbi Tom" />
            <p>It was a big year for Tom Bradys across the board. Our own commish was able to beat Jason who was unaware he was in the finals.
            </p>        
        </div>
    </div>


</div>