@model YahooFantasyFootball.ViewModels.MembersVM

<h1>@ViewBag.Title</h1>
<p>Welcome to my Fantasy Football League site</p>

@Html.Partial("_SharedView")

<form>
    <label>Team Owner</label>
    <textarea></textarea>
    <lable>Placement</lable>
    <textarea></textarea>
</form>