<h1>@ViewBag.Title</h1>

@model YahooFantasyFootball.ViewModels.GameWeekVM
@using (Html.BeginForm("WeatherTool", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.DropDownListFor(x => x.GameWeekId, new SelectList(Model.GameWeekList, "Value", "Text"), "Select..", new { @class = "input-sm" })
    <input type="submit" value="Submit" />
}



